@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px; font-family:"微软雅黑";}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;border:none; background:none;font-family:"微软雅黑";}
textarea{resize:none;font-family:"微软雅黑";}
a{text-decoration:none; color:#000;}
i, em {font-style: normal;}

/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.fl{float:left;}
.fr{float:right;}
.article p{ line-height:28px;}
.article div{line-height:28px;}
.article{ line-height:29px;}
.w1200{width:1300px; margin:0 auto;}
.w12001{width:1200px; margin:0 auto;}

/*首页头部*/
.headerIn{width:100%; height:100px; background:rgba(41,112,193,0.5); position:absolute; left:0; top:0; z-index:99;}
.headerIn .logoIn{width:395px;height:82px; float:left; margin-top:9px;}
.headerIn .navIn{float:left; width:905px;}
.headerIn .navIn ul#navInC{width:905px; padding-left:30px; height:70px; padding-top:30px; position:relative;}
.headerIn .navIn ul#navInC li.nLi{float:left; height:70px; background:url(../images/line.png) no-repeat right top; padding:0 9px; position:relative;}
.headerIn .navIn ul#navInC li.nLi:last-child{background:none;}
.headerIn .navIn ul#navInC li.nLi h3{font-weight:500;}
.headerIn .navIn ul#navInC li.nLi font{display:block; font-size:16px; color:#fff; line-height:24px;}
.headerIn .navIn ul#navInC li.nLi span{display:block; font-size:12px; color:#fff; line-height:20px;}
.headerIn .navIn ul#navInC li.nLi ul.sub{left:0; top:70px;  position:absolute; line-height:26px; width:100%; text-align:center;background:rgba(41,112,193,0.5); display:none;}
.headerIn .navIn ul#navInC li.nLi ul.sub li a{color:#fff; font-size:14px;}
.headerIn .navIn ul#navInC li.nLi ul.sub li:hover{background:rgba(41,112,193,0.3);}

/*内页头部*/
.header {background:#fff;}
.header .topWrap {padding:0;background:#005faf ;}
.header .logo {float:left;_display:inline;padding-top:10px;padding-bottom:20px;padding-left:15px;}
.header .logo img {max-width: 500px;}
.header .banner_right{	float:right;}
.header .subNavRight {position:relative; _position:relative;right:10px; _width:480pxpadding-right:20px;padding-top:10px;float:right!important;float:right ;height:22px;}
.header .subNavRight li {float:left;max-width:150px;padding-left:20px;color:#ffffff; font-size:14px;}

.mainWrap{width:1200px; margin:0 auto; position:relative;}

.search{display:inline; height:30px; line-height:30px; position:absolute; right:10px; top:45px;_position:relative;_right:10px; _top:60px;_width:430px;}
.search span{ font-size:14px; padding-right:10px;line-height:23px; color: #ffffff;}
.searchC{ overflow:hidden; float:left;height:23px; border:1px solid #e3e2e8; margin-right:5px;}
.searchC input{border:none; float:left;}
.searchC .input-kw{ background:#fff; width:169px; height:23px; line-height:23px;  padding:0 2px; font-size:14px; }
.searchC .input-btn{ background:url(../images/btn_search.gif) no-repeat center center; width:30px; line-height:23px; cursor: pointer;color:#9f9c8f; font-size:12px;}
.search .xytk{ width:105px; height:25px; float:right; background-color:#ffb40f; color:#fff; line-height:25px; padding-left:38px; background-position:6px 2px;}
.search .xytk a{ color:#fff;font-size:12px;}
.search .xytk a:hover{ color:#ffdd92;}

.header .nav {background-color:#fff;}
.header .nav .menu {display:none;}
header .nav #nav{margin:auto;width:1200px;}
.header .nav li {float:left;_display:inline;padding:0 11px 0 11px;+padding:0 10px 0 10px;z-index:999;zoom:1;}
.header .nav li.nav_first {padding-left:0px;}
.header .nav li.nav_last {padding-right:0px;} 
.header .nav li a.current{background: url(../img/nav_cur_red.png) bottom repeat-x}
.header .nav li a {text-decoration:none;display:block;line-height:43px;font-size:16px;color:#333;text-align:center;width:115px;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-ms-transition-duration:0s;}
.header .nav li a:hover, .header .nav li a.hover {color:#fff;background:#005faf;}
.header .nav li a i {padding:0;margin:0 -5px 0 5px;}

#nav {width:1200px; margin:0 auto;}
#nav .minfoWrap {position:absolute;background:#fff;border-top: 1px solid #f2f2f2;left:0%;width:100%;z-index:2;padding:2em 0;display:none;}
#nav .minfoWrap_inner {width:1200px;background:#fff;margin:0 auto;}
#nav ul.last {right:2px;}
#nav ul li{float:none;display:block;padding:0;margin:0;}
#nav ul li a {background:#fff;line-height:24px;font-size:14px;color:#8c0000;padding:0 0 0 0px;}
#nav ul li a:hover {text-decoration: underline;}
.nav01 {width: 160px;}
.nav02 {width:300px;font-size:14px;color:#999;line-height:24px;}
.nav03 {width: 280px;font-size:14px;
margin-right: 50px;margin-left: 50px;line-height:24px;}
.nav04 {width:200px;}
.nav05 {width:150px;font-size:14px;color:#999;margin-right:50px;line-height:24px;}

.page{width:100%; text-align:right; padding-top:25px;}
.page a{font-size:12px; border:1px solid #f1f1f1; padding:5px 8px; color:#535351; margin:0 2px; display:inline-block;}
.page a:hover,.page a.cur{color:#fff; background:#000; border:1px solid #000;}

/*首页底部*/
.footerIn{width:100%; overflow:hidden; background:#dfd9d9;}
.fotB{width:375px;}
.fotB ul{padding:18px 0 10px; overflow:hidden;}
.fotB ul li{width:88px; float:right; margin:0 12px;}
.fotB ul li font{color:#676767; font-size:12px; line-height:24px; text-align:center; display:block;}
.fotA{width:825px;color:#676767; padding-top:35px;}
.fotA p{color:#676767; font-size:14px; line-height:36px;}
.fotA a{color:#676767; font-size:14px; line-height:36px;}