@charset "utf-8";
/* CSS Document */

/*banner start*/
.banner{width:100%; position:relative;}
.Nebanner,.Nebanner img{width:100%; overflow:hidden;}
.banner-box{width: 100%; position:relative; overflow:hidden;}
.banner-box .bd{ width:100% !important;}
.banner-box .bd li .m-width {width:100%;margin:0 auto;overflow:hidden;}
.banner-box .bd li{width:100% !important;overflow:hidden;}
.banner-box .bd li a{display:block;background-size:auto;}
.banner-box .bd li a img{width:100%;overflow:hidden;height: 800px;object-fit: cover;}
.banner-btn{width: 80%;position:absolute;bottom:12px;left:10%;}
.banner-box .hd {position:absolute;bottom:20px;right:47%;}
.banner-box .hd ul li{width:20px;height:20px;text-indent:-9999px;margin-right:6px; border-radius:100%;background:#fff;float:left;cursor:pointer;}
.banner-box .hd ul li.on{background:#074e9e;}

.conCxc{width:1200px; position:relative; margin:0 auto;}
.conCxc .Lebg_Op{background:rgba(255,255,255,0.5); position:absolute; top:272px; left:0; padding:15px 15px; width:280px; z-index:99;}
.conCxc .Lebg_Op font{font-size:14px; color:#074e9e; display:block; line-height:26px;}
.conCxc .Lebg_Op span{font-size:32px; color:#074e9e; display:block; line-height:40px;  font-weight: 900;}
.conCxc .Lebg_Op p{font-size:16px; color:#0050b0; margin-top:10px; padding-top:10px; padding-bottom:10px; line-height:26px; border-top:1px solid #776d6b;}
.bgTion{position:absolute; top:175px; right:0; width:370px; height:350px; background:url(../images/bgPc_ban.png) no-repeat; z-index:99;}
.bgTion ul.tabCr{width:370px; height:350px; position:relative;}
.bgTion ul li.lcr1{top:35px; left:68px;position:absolute; width:103px; height:58px; text-align:center;}
.bgTion ul li.lcr2{top:35px; left:198px;position:absolute; width:103px; height:58px; text-align:center;}
.bgTion ul li.lcr3{top:147px; left:4px;position:absolute; width:103px; height:58px; text-align:center;}
.bgTion ul li.lcr4{top:147px; left:134px;position:absolute; width:103px; height:58px; text-align:center;}
.bgTion ul li.lcr5{top:147px; left:264px;position:absolute; width:103px; height:58px; text-align:center;}
.bgTion ul li.lcr6{top:256px; left:70px;position:absolute; width:103px; height:58px; text-align:center;}
.bgTion ul li.lcr7{top:256px; left:196px;position:absolute; width:103px; height:58px; text-align:center;}
.bgTion ul li a.sc{font-size:16px; color:#fff; line-height:28px; padding-top:30px; display:block;}

@media screen and (min-width:1400px){
   	.conCxc .Lebg_Op{left:-10px;}
	.bgTion{right:-140px;}
}

.Pop-layer {width: 600px;overflow: hidden;position: absolute;z-index: 600;top:10px;right:385px;background: #fff;padding-bottom: 50px; display:none;}
.Pop-layer-t {height: 50px;line-height: 50px;background: #074e9e;font-size: 18px;font-weight: bold;font-family: "Microsoft Yahei";color: #fff;}
.Pop-t {margin-left: 15px;font-size: 18px;font-weight: bold;font-family: "Microsoft Yahei";color: #fff;float:left;}
.Pop-layer-cont {width: 90%;margin: 10px auto;line-height: 30px;overflow:hidden;}
.colse {width: 50px;height: 43px;background: url(../images/close.png) no-repeat;float: right;margin-top: 5px; cursor:pointer;}
.colse:hover {background-position: -56px 0;}
.main-list li {height: 50px;line-height: 50px;border-bottom: #beccd7 solid 1px;}
.main-list-cont {background: url(../images/icon3.png) no-repeat 0 17px;float: left;padding-left: 20px;font-size: 14px;color: #074e9e;}
.date {float: right;margin-right: 10px;}

/*content*/
.content{width:100%; height:auto;}

/*one*/
.one_Box{width:1200px; margin:0 auto; height:445px; position:relative; padding-top:55px;}
.oneLe_Ban{ width:335px; height:445px; overflow:hidden; position:relative; float:left;}
.oneLe_Ban .bd{ position:relative; height:100%; z-index:0;}
.oneLe_Ban .bd li{ zoom:1; vertical-align:middle; position:relative;}
.oneLe_Ban .bd li font{background:rgba(0,0,0,0.5); width:305px; height:55px; line-height:55px; padding:0 15px; font-size:16px; color:#fff; position:absolute; left:0; bottom:0;}
.oneLe_Ban .bd a{width:335px; height:445px;overflow:hidden; display: table-cell;vertical-align: middle; background-color:#f2f2f2;}
.oneLe_Ban .bd a img{max-width: 100%;max-height: 445px;display: block;margin: auto;}

.oneLe_Ban .prev,
.oneLe_Ban .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:42px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;}
.oneLe_Ban .next{ left:auto; right:3%; background-position:8px 5px;}
.oneLe_Ban .prev:hover,
.oneLe_Ban .next:hover{ filter:alpha(opacity=100);opacity:1;}

.oneMi_Tab{ width:542px; float:left; margin-left:10px;}
.oneMi_Tab .hd{ height:50px; line-height:50px; background:#f9f9f9; border-bottom:1px solid #eee; position:relative; }
.oneMi_Tab .hd ul{width:100%; overflow:hidden;}
.oneMi_Tab .hd ul li{ float:left; width:25%; cursor:pointer; text-align:center; font-size:16px; color:#333; font-weight:600;}
.oneMi_Tab .hd ul li.on{ height:47px;  background:#fff; border-bottom:2px solid #fff; border-top:2px solid #074e9e; color:#074e9e;}
.oneMi_Tab .bd ul{zoom:1; padding:0 10px; border-bottom:1px solid #efefef; height:390px;}
.oneMi_Tab .bd ul .tabTop{width:100%; padding:10px 0; margin-bottom:5px; overflow:hidden; border-bottom:1px dashed #eee;}
.oneMi_Tab .bd ul .tabTop h2{color:#ff0000; font-size:20px; text-align:center; line-height:28px;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.oneMi_Tab .bd ul .tabTop h2 a{color:#ff0000;}
.oneMi_Tab .bd ul .tabTop h2 a:hover{ color:#074e9e;}
.oneMi_Tab .bd ul .tabTop h2 span{font-size:12px; font-weight:600; color:#ff0000; border:1px solid #074e9e; border-radius:6px; padding:0 0px; line-height:20px;}
.tabTop a{ color:#074e9e;}
.tabTop p a{ color:#333;}
.oneMi_Tab .bd ul .tabTop p{font-size:12px; color:#787a7b; line-height:20px;}
.oneMi_Tab .bd ul .tabTop p a{color:#787a7b; margin-right:10px; float:right;}
.oneMi_Tab .bd ul li{padding:6px 0; overflow:hidden;}
.oneMi_Tab .bd ul li .oneDate{width:70px; height:38px; line-height:19px; border:1px solid #eee; color:#999999; font-size:14px;text-align:center;}
.oneMi_Tab .bd ul li .oneDate span{background:#074e9e;color:#fff;}
.oneMi_Tab .bd ul li .oneDate span,.oneMi_Tab .bd ul li .oneDate font{display:block;}
.oneMi_Tab .bd ul li .oneLsy{width:428px; margin-left:20px;}
.oneMi_Tab .bd ul li .oneLsy font{font-size:15px; color:#333; line-height:22px; display:block;}
.oneMi_Tab .bd ul li .oneLsy span{font-size:12px; color:#939192; line-height:18px; display:block;}
.oneMi_Tab .bd ul li .oneLsy span i{width:342px; float:left; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.oneMi_Tab .bd ul li .oneLsy span a{color:#CCCCCC; margin-right:10px; float:right;}
.oneMi_Tab .bd ul li .oneLsy  a{color:#074e9e;}
.oneMi_Tab .bd ul li .oneLsy  a:hover{ color:#ff0000;}
.oneRi_pio{width:270px; padding:15px; height:495px; background:#f1eee9; position:absolute; right:0; bottom:0; overflow:hidden;}
.oneRi_pio .oneTxt{width:242px; padding:5px; overflow:hidden;}
.oneRi_pio .oneTxt font{display:block; color:#777674; font-size:14px;}
.oneRi_pio .oneTxt span{color:#242223; font-size:16px; font-weight:600; padding-top:8px; display:block;}
.oneRi_pio .oneTxt span i{margin-left:5px; font-weight:500; color:#4d4d4f;}
.oneRi_pio .tabTop{width:100%; padding:10px 0; margin-bottom:5px; overflow:hidden; border-bottom:1px dashed #eee;}
.oneRi_pio .tabTop h2{color:#ea675d; font-size:16px; font-weight:500; line-height:22px;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.oneRi_pio .tabTop p{font-size:12px; color:#939192; line-height:20px;}
.oneRi_pio .tabTop p a{color:#074e9e; margin-right:10px; float:right;}
/*.oneRi_pio .tabTop img{width:100%; margin:15px auto 0;}*/
.oneRi_pio .one_rBot{width:100%; overflow:hidden;}
.oneRi_pio .one_rBot .title_left{width:100%; overflow:hidden; padding-bottom:6px;}
.oneRi_pio .one_rBot .title_left .main-i-icon{background: url(../images/icon1.png) no-repeat 0 center;height:34px;line-height: 34px;padding-left:50px;display: block;float: left;font-size: 18px;font-weight: bold;color: #074e9e; background-size:34px;}
.oneRi_pio .one_rBot .title_left a{float:right; color:#074e9e; font-size:14px; line-height:34px;}
.oneRi_pio .one_rBot ul{border-top:1px solid #beccd7; overflow:hidden; width:100%;}
.oneRi_pio .one_rBot ul li{border-bottom:1px solid #beccd7; line-height:41px;}
.oneRi_pio .one_rBot ul li a{background: url(../images/icon3.png) no-repeat 0 center; display:block;padding-left: 20px;font-size: 14px;color: #074e9e;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.oneRi_pio .one_rBot ul li a:hover{color:#074e9e;}

/*two*/
.two_Box{width:1200px; margin:0 auto; overflow:hidden; padding-top:30px;}
.conTxc{width:100%; overflow:hidden; line-height:42px; border-bottom:1px solid #d2d2d2; position:relative;}
.conTxc font{color:#074e9e; border-bottom:2px solid #074e9e; text-indent:10px; position:absolute; left:0; top:0; line-height:40px; font-size:18px; width:120px;font-weight:600; padding-left:25px; background:url(../images/tec.png) no-repeat 10px center;}
.conTxc a{float:right; color:#666668; font-size:14px;}

.twoSlideGroup{width:100%; height: 355px; overflow:hidden;}
.twoSlideGroup .parHd{ height:26px; line-height:26px; padding-top:15px; padding-bottom:15px; position:relative;  }
.twoSlideGroup .parHd ul{width:100%;}
.twoSlideGroup .parHd ul li{float:left; height:26px; cursor:pointer; padding:0 20px; color:#074e9e; font-weight:600; font-size:14px;}
.twoSlideGroup .parHd ul li.on{color:#fff; background:#074e9e; border-radius:5px;}
.twoSlideGroup .slideBox{ zoom:1; position:relative; width:100%; margin:0 auto; height: 100%;}

.twoSlideGroup .sPrev,.twoSlideGroup .sNext{ position:absolute; left:-50px; top:0; display:block; width:42px; height:250px; border:0px solid #ddd; background:#fff url(../images/slider-arrow.png) -107px center no-repeat; }
.twoSlideGroup .sNext{ left:auto; right:-50px; background:#fff url(../images/slider-arrow.png) 10px center no-repeat; }
.twoSlideGroup .sPrev:hover,.twoSlideGroup .sNext:hover{ border-color:#beccd7;}
.twoSlideGroup .parBd {
    margin-top: 10px;
    height: 100%;
}
.twoSlideGroup .parBd ul{height: 100%; overflow:hidden; zoom:1; margin:0 auto;height: 63%;width: 93%;}
.twoSlideGroup .parBd ul li{display:flex; overflow:hidden;height: 240px;}
.twoSlideGroup .parBd ul li .pic{ width:40%;height: 240px;overflow:hidden; border:1px solid #f2f2f2;display:block;vertical-align: middle;}
.twoSlideGroup .parBd ul li .pic img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
.twoSlideGroup .parBd ul li .titleC{width:50%; border:1px solid #f2f2f2; padding:15px 10px 15px;}
.twoSlideGroup .parBd ul li .titleC font{color:#074e9e; font-size:14px; font-weight:600; display:block; line-height:32px; padding-bottom:21px; position: relative;}
.twoSlideGroup .parBd ul li .titleC font i{font-size:14px; margin-left:10px;}
.twoSlideGroup .parBd ul li .titleC font::after{
    content: "";
    width: 19px;
    height: 3px;
    border-radius: 10px;
    background: #2D3D6D;
    position: absolute;
    top: 36px;
    left: 9px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    left: auto;
}
.swiper-button-next, .swiper-button-prev{
    top: 35% !important;
    height: 28px !important;
}
/* .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    right: 0px !important;
} */
.te_zw{
    padding: 4px 16px;
    text-align: center;
    background: #FFFFFF;
    /* border: 1px solid #A0A0A0; */
    border-radius: 30px;
    font-size: 13px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #000000;
    display: inherit;
}
.te_more{
    width: 78px;
    height: 22px;
    background: #2D3D6D;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0 0 0;
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
}
.te_more img {
    width: 9px;
    height: 9px;
    margin-left: 6px;
}
.Care_info01 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.Care_info01 .swiper-slide {
    width: 33% !important; 
    height:240px;
    display: flex;
}
.twoSlideGroup .parBd ul li .titleC span{margin:0 0 16px 0;color:#333; line-height:20px; display:block;overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:3; text-align:left;}

.twoTab{width:49%; overflow:hidden;float: left;}
.twoTab .hd{ height:45px; line-height:26px; padding-top:15px; padding-bottom:15px;position:relative;}
.twoTab .hd ul{width:100%; overflow:hidden;}
.twoTab .hd ul a{float:right; color:#666668; font-size:14px;}
.twoTab .hd ul li{float:left; height:26px; cursor:pointer; padding:0 20px; color:#074e9e; font-weight:600; font-size:14px; line-height:26px; margin-top: 10px;}
.twoTab .hd ul li:nth-child(1){margin-left:0;}
.twoTab .hd ul li.on{color:#fff; background:#074e9e; border-radius:5px;}

.twoTab .conTxc2{width:100%; overflow:hidden; line-height:42px; border-bottom:1px solid #d2d2d2; position:relative;}
.twoTab .conTxc2 font{color:#074e9e; border-bottom:2px solid #074e9e; text-indent:10px; position:absolute; left:0; top:0; line-height:40px; font-size:18px; width:120px;font-weight:600; padding-left:25px; background:url(../images/jcsj.png) no-repeat 10px center;}
.twoTab .conTxc2 a{float:right; color:#666668; font-size:14px;}
.twoTab .conTxc2-1 font{color:#074e9e; border-bottom:2px solid #074e9e; text-indent:10px; position:absolute; left:0; top:0; line-height:40px; font-size:18px; width:120px;font-weight:600; padding-left:25px; background:url(../images/yyjc.png) no-repeat 10px center;}


.twoTab .bd{zoom:1;}
.twoTab .bd ul{width:100%; overflow:hidden;}
.twoTab .bd ul li{width:180px; height:142px; margin-right: 16px; float:left;margin-top: 10px;}
.twoTab .bd ul li:nth-child(1){margin-left:0;}
.twoTab .bd ul li img{width:180px; height:142px;object-fit: cover;}

/*three*/
.three_Box{width:1200px; margin:0 auto; overflow:hidden; padding-top:30px;}
.three_Box .hd{ height:50px; line-height:50px; border-bottom:1px solid #ddd; position:relative; }
.three_Box .hd ul{width:100%; overflow:hidden;}
.three_Box .hd ul a{float:right; color:#666668; font-size:14px;}
.three_Box .hd ul li{ float:left; width:140px; cursor:pointer; text-align:left; font-size:18px; font-weight:600; color:#333;}
.three_Box .hd ul li.on{ height:49px; text-indent:10px; border-bottom:2px solid #074e9e; color:#074e9e; padding-left:25px; background:url(../images/post.png) no-repeat 10px center;}

.three_Box .bd{zoom:1;}
.three_Box .bd ul{width:100%; padding-top:25px; overflow:hidden; padding-bottom:45px;}
.three_Box .bd ul li{width:290px; float:left; margin-left:13px;}
.three_Box .bd ul li:nth-child(1){margin-left:0;}
.three_Box .bd ul li img{width:100%;}
.three_Box .bd ul li font{display:block; text-align:center; font-weight:bold;  font-size:14px; color:#545658; line-height:26px;}

/*four*/
.fourLink{width:1198px; background:#fafafa; border:1px solid #d9d5d6; line-height:58px; height:58px; margin:0 auto 25px; position:relative;}
.fourLink .linTxt{font-size:16px; width:115px; text-align:center; color:#074e9e;}
.fourLink .hd{width:50px; position:absolute; right:25px; top:0; height:58px;}
.fourLink .bd{width:1035px; float:left; zoom:1; height:58px;}
.fourLink .bd ul li{float:left; margin:0 25px; text-align:center;}
.fourLink .bd ul li a{font-size:14px; color:#000;}
.fourLink .hd .prev,.fourLink .hd .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:25px;  overflow:hidden; cursor:pointer; background:url("../images/arrow.png") no-repeat;}
.fourLink .hd .next{ background-position:0 -50px;}

/**/
.bouti-tit{width:100%;height: 300px;text-align: center; margin:0 auto; background:#fff; background-size:cover !important;}
.bouti-link {position: relative;width:1200px;/*max-width: 1380px;*/margin: 0 auto;height: 100%;background-repeat: no-repeat;-moz-background-size: 100%;-webkit-background-size: 100%;-o-background-size: 100%;background-size: 100%;}
.boutiCon {position: absolute;width: 170px;height: 80px;line-height: 80px;left:0;top: 35%;z-index: 1;text-align: right;}
.boutiConBg {position: absolute;background: #005faf;width: 200px;height: 80px;left:0;top: 35%;filter: alpha(opacity=80);opacity: 0.7;}
.bouti-tit h3 {font-size: 30px;color: #fff;line-height: 80px; font-weight:500;}

.conNr_box{width:1200px; margin:20px auto 0; overflow:hidden;}
.conNr_box .list_left{width: 206px; overflow:hidden;}
.wrap_sub { border:1px solid #ededed; border-bottom:none;}
.wrap_sub li a.subnav_a {line-height: 50px;border-bottom: 1px solid #ededed;display: block;padding: 0 10px;font-size: 16px;color: #3f3f3f; background:#fff url(../images/navLe.jpg) no-repeat 165px center;}
.wrap_sub li a.subnav_a:hover,.wrap_sub li.on a.subnav_a{color:#fff; background:#3698d9 url(../images/navLe_cur2.jpg) no-repeat 165px center;}
.list_main {width:964px; margin-left:30px;}
.crumbs {height: 35px;padding: 0 0 0 42px;float: right;}
.crumb {color: #999;padding-left: 5px; font-size:15px;}
.crumb a {color: #acacac;line-height: 45px;}
.article h1 {font-size:22px;color:#03121c;border-bottom:1px solid #cecece;line-height: 50px; font-weight:900;}

.hotTc{border:1px solid #ededed; margin-top:35px;}
.hotTc h2{background:#f9f9f9; line-height:50px; height:50px; font-size:16px; color:#3f3f3f; padding:0 10px; font-weight:500;}
.hotTc ul{padding:5px 10px;}
.hotTc ul li{font-size:14px; line-height:20px; padding:5px 0;overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;}
.hotTc ul li a{ color:#666;}

.detail{width:100%; overflow:hidden; padding-top:10px;}
.newsLiy{width:100%;  overflow:hidden; padding:10px 0; border-bottom:1px solid #cecece;}
.newsLiy img{width:142px; float:left; margin-right:20px; display:none;}
.newsLiy .newsCnn{width:100%; float:left; overflow:hidden;position: relative;}
.newsLiy .newsCnn h3{font-size:20px; font-weight:200; color:#666; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.newsLiy .newsCnn p{width:100%; position:relative;/* height:70px;*/ float:left;}
.newsLiy .newsCnn font{font-size:14px; line-height:20px;overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2; width:100%; color:#b6b6b8; padding-top:5px;}
.newsLiy .newsCnn a{font-size:18px; /*position:absolute; left:0; bottom:0;*/ line-height:20px; color:#333; font-weight:600;}

.detail2{width:95%; margin-left:5%; font-family:'微软雅黑'; overflow:hidden; padding:20px 0 5px;}
.detail2 img{max-width:100%;}
.detail2 p{font-size:14px; color:#272626; font-family:'微软雅黑'; line-height:24px; text-align:left; margin-top:15px;}
.detail2 div{ font-family:'微软雅黑'; line-height:22px; text-align:left; margin-top:11px;}

.tabFrom{width:100%; margin:20px auto 0;}
.font9 {font-size: 12px;color:#585858;text-decoration: none;}
.detailtitle {font-size: 18px;color: #FFFFFF;text-decoration: none;letter-spacing: 5px;font-weight: bold;}
.bfont9 {font-size: 12px;color: #000000;text-decoration: none;}
.downxu { BORDER-RIGHT: #074074 1px; BORDER-TOP: #074074 1px; FONT-SIZE: 12px; BORDER-LEFT: #074074 1px; COLOR: #585858; BORDER-BOTTOM: #074074 1px dashed; TEXT-DECORATION: none }
.title{ DISPLAY: block; WIDTH: 75px; LINE-HEIGHT: 22px; POSITION: absolute; TEXT-ALIGN: right }
.headtitle .content2 { PADDING-LEFT: 80px }
.headtitle .content2 INPUT { WIDTH: 150px! important;}
.tabFrom input,.tabFrom select,.tabFrom textarea{ border:1px solid grey; line-height:22px;}
.tabFrom input[type="file"]{border:none;}
.tabFrom input[type="submit"]{border:1px solid grey; background:#0099CC; color:#FFFFFF; cursor:pointer; padding:5px 50px; border-radius:2px;}

.detail3{width:100%; overflow:hidden; line-height:28px;}
.detail3 div{ line-height:29px;}
.detail3 p{ line-height:29px;}

.conright1 {
    width: 100%;
    padding: 25px 0;
}

.aboutright1con1img {
width: 464px;
height: 283px;
float: left;
}

.aboutright1con1img img {
width: 462px;
height: 283px;
}

.aboutright1con1box {
width: 478px;
height: 281px;
float: left;
border: 1px solid #ccc;
border-left: none;
padding-left: 17px; /* position:relative; */
}

.aboutright1con1box h2 {
font-size: 18px;
color: #3a86c4;
font-weight: 100;
line-height: 30px;
margin-top: 20px;
}

.aboutright1con1box p {
margin-top: 10px;
margin-right: 20px;line-height: 180%;
    font-size: 14px;
    color: #444;
    padding: 10px 0;
    text-indent: 2em;
}

.aboutright1con1box ul {
margin-top: 10px;
}

.aboutright1con1box ul li {
width: 160px;
height: 25px;
line-height: 25px;
float: left;

padding-left: 10px;
}

.aboutright1con1box ul li a {
color: #323232;
}

.aboutright1con1box a.aboutmore {
float: right;
height: 19px;
line-height: 19px;
background: #fff;
right: 0;
bottom: 0px;
text-indent: 3px;
}
.aboutright1con2 {
width: 100%;
padding-top: 22px;
clear: both;
}
.conright1box {
width: 480px;
float: left;
margin-right: -20px;
}

.conright1boxtop {
width: 464px;
height: 132px;
}

.conright1boxtop img {
width: 242px;
height: 132px;
float: left;
}

.conright1boxtoptext {
width: 188px;
height: 112px;
float: left;
background: #94BEBD;
color: #fff;
font-size: 16px;
line-height: 20px;
padding: 20px 15px 0;
}

.conright1boxbot {
width: 458px;
height: 190px;
border: 1px solid #ccc;
border-top: none;
padding: 0px;
}
.conright1boxbot p {
line-height: 180%;
font-size: 14px;
color: #444;
padding: 10px 10px;
text-indent: 2em;
}
.conright1boxbot ul {

margin-left:10px;
}
.conright1boxbot ul li{font-size:14px;width:190px;height: auto;line-height:26px;padding-left: 10px;background:url(../images/classli.jpg) no-repeat left 8px;float:left;margin-left: 15px;}
.conright1boxbot ul li a{color:#323232;}

.conright1boxbot1 {
height: auto;
padding: 15px 10px 37px 10px;
position: relative;
height: 260px;
}

.conright1boxbot1 p {
color: #323232;
}

.conright1boxbot1 ul {
margin-top: 8px;
}
.aboutright1con2 .conright1box1 {
    float: right;
}

.conright1boxbot1 a.conrightsub {
display: inline-block;
background: #004986;
padding: 2px 20px 3px 4px;
position: absolute;
right: 0;
bottom: 10px;
}

.conright1boxbot1 a.conrightsub2 {
display: inline-block;
background: #004986;
padding: 2px 20px 3px 4px;
position: absolute;
right: 0;
bottom: 40px;
}
.aboutright1con2 .conright1boxtoptext h2 {
    font-size: 15px;
}
.conright1boxtoptext p {
    line-height: 180%;
    font-size: 14px;
    color: #444;
    padding: 10px 0;
    text-indent: 2em;
}
.aboutright1con2 a.aboutmore {
    float: right;
    background: #014886;
    right: 0;
    bottom: 0;
    text-indent: 3px;
    color: #fff;
}

.aboutright1con1 {
    width: 100%;
    margin: 0 auto;
}

.aboutright1con1img {
    width: 464px;
    height: 283px;
    float: left;
}

.aboutright1con1img img {
	width: 462px;
	height: 283px;
}

.aboutright1con1box {
    width: 478px;
    height: 281px;
    float: left;
    border: 1px solid #ccc;
    border-left: none;
    padding-left: 17px; /* position:relative; */
}
.bkrx_ul {
    border: 1px solid #008d94;
    width: 958px;
    margin: 0 0; overflow:hidden;
}
.clear {
    clear: both;
}
.bk{
line-height: 180%;
    font-size: 14px;
    color: #444;
    padding: 10px 0;
    text-indent: 2em;
}
.liebiao2 {
    margin: 0px auto;
	float:left; width:100%;
}
 .liebiao2 li {
  
/*height: 35px;*/
line-height:28px;
/*background:url(../images/ye_dian.gif) no-repeat left center;*/
padding:0 0 0 12px;
font-size:14px;
}

.liebiao2 li table{width:100% !important;border-collapse:collapse;  
border-spacing:0;  }
.liebiao2 li table tr,.liebiao2 li table td{padding:0;}
.liebiao2 li img{max-width:100%; margin:0 auto; display:block;}
.liebiao2 a {/*float:left ;*/font-size:14px;  color: #333; }
.liebiao2 span {/*float:right ;*/
color:#666;  font-size:14px;}
.bkrx_ul .bkzsjz_a {
    float: left;
    width: 345px;
    padding: 0 10px 0 0;
    height: 210px; display:none;
}
.xzby_wla {
    background: #008d94;
    color: #fff;
    padding: 3.5px 15px;
    float: right; font-size:16px;
}

.cxRc{width:100%; overflow:hidden;}
.cxRc .left{float:left; width:465px;}
.cxRc .rightc{float:right; width:465px;}
.cxRc .left h2,.cxRc .rightc h2{
    font-size: 22px;
    color: #666;
    padding: 38px 0 12px 0;
    line-height: 28px; font-weight:500;
}
.cxRc .rightc h2.y {
    color: #ed6d51;
}
.cxRc .left a.more,.cxRc .rightc a.more {
    color: #a7b4b4;
    float: right;
    font-size: 12px;
}
.cxRc .left ul li,.cxRc .rightc ul li{ border-bottom:1px solid #dfdfdf;}
.cxRc .left ul li.nav .active,.cxRc .rightc ul li.nav .active{border-bottom:5px solid #005faf;margin-top:-5px;}
.cxRc .left ul li a,.cxRc .rightc ul li a{ line-height:40px; display:block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 16px;}
.cxRc .left ul li a span,.cxRc .rightc ul li a span{ color:#9a999a; padding-right:22px;font-size:12px;}
.nav-tabs {
    border-bottom: 1px solid #ddd; overflow:hidden; width:100%; padding-bottom:5px;
}
.nav-tabs li{float:left; margin:0 4px; padding:10px;}
.nav-tabs li.active{border: 1px solid #dfdfdf; border-bottom:1px solid #fff; border-radius:6px 6px 0 0;}
.nav-tabs li h3{font-size:20px; line-height:28px; font-weight:500;}

.tab-content {
    overflow: auto; color:#a0a0a0; font-size:15px; line-height:24px;
}
.tab-content a{color:#696171; font-size:13px;}
.cout-bottom{width:100%; margin:0 auto;}
.cout-bottom .layout{ width:100%; margin:0 auto;}

.cout-bottom .layout .list{ padding-top:42px;}
.cout-bottom .layout .list li{ float:left; width:236px; height:236px; overflow:hidden; background:#fff;}
.cout-bottom .layout .list li.wlist{ padding:5px; height:226px; color:#818181;}
.cout-bottom .layout .list li.wlist h3 a{ color:#666; font-size:18px; line-height:24px; padding:16px 0; display:block; font-weight:500;}
.cout-bottom .layout .list li.wlist span a{color:#696171; font-size:14px; line-height:24px;}
.cout-bottom .layout .list li.arrow{ position:relative;}
.cout-bottom .layout .list li.ar1:hover a .play{filter:alpha(opacity=70);background:rgba(77,44,114,0.7);}

.recommend-imgbox>a:hover>img {
    opacity: .8;
}
.recommend-imgbox>a>img {
    width: 100%;
    height: 100%;
}
.recommend-box {
    float: left;
    width: 236px;
    height: 236px;
    margin-right: 4px;
    box-sizing: border-box;
}
.arrow i {
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    border-left: 17px solid #fff;
    margin-top: -24px;
    height: 0;
    width: 0;
}
.ar1 i {
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    border-right: 17px solid #fff;
    border-left: 0;
    left: auto;
    right: 0;
}
.cout-bottom .layout .list li.wlist a.wx:hover {
    border-bottom: 2px;
}
a.wx {
    border-bottom: 1px solid #dfdfdf;
    font-size: 22px;
    width: 28px;
    color: #666;
}

.zhuti_zuo{ margin:20px 0;}
.zhuti_zuo span{ font-size:16px; color:#4b4b4b; font-weight:100; line-height:47px;}
.zhuti_zuo_one strong{ text-align:center; display:block; font-size:24px; color:#000; }
.zhuti_zuo_one{ margin-top:30px; margin-bottom:30px;}
.zhuti_zuo_two{ margin:20px; border-bottom:1px dashed #CCCCCC; border-top:1px dashed #CCCCCC; overflow:hidden; padding-top:5px; padding-bottom:5px;width: 900px;
margin: 0 auto;}
.zhuti_zuo_two a{ font-size:14px; float:left; margin-top:5px;}

.zhuti_zuo_there{ margin:20px 0; text-indent:2em; font-size:16px; color:#4b4b4b; font-weight:100; text-align:left; line-height:47px;}
.zhuti_zuo_there p{  text-indent:2em; font-size:16px; color:#4b4b4b; font-weight:100; line-height:47px;}
.zhuti_zuo_there img{max-width:80%;  margin:10px auto; display:block;}
.zhuti_zuo_there table{margin:0 auto;}

.zhuti_zuo_four{ border-bottom:1px solid #CCC; margin:20px;}
.zhuti_zuo_four span{ color: #000000;}
.zhuti_zuo_four a{ font-size:14px; color:#000}
.zhuti_zuo_five{ background:#eeeeee; margin:20px; height:150px;}
.zhuti_zuo_six{border:1px solid #CCC; margin:25px; overflow:hidden;padding:10px; margin-bottom:50px;}
.zhuti_zuo_six ul li{ height:30px; width:400px; line-height:30px;  margin-left:20px; float:left;}
.zhuti_zuo_six ul li img{ vertical-align:middle; float:left; margin-top:12px; margin-right:5px;}
.zhuti_zuo_six ul li a{ vertical-align:middle; width:600px; float:left; font-size:14px; color:#000;}

.tadec1{width:364px; float:left; padding-top:20px;}
.tadec2{width:585px; float:left; padding-top:20px; margin-left:15px;}
.tadec3{width:364px; float:left; padding-top:20px;}
h4.xc{background: #074e9e;height: 50px;line-height: 50px;text-align: center;font-size: 20px;font-family: "Microsoft Yahei";font-weight: bold;color: #fff;text-align: center;}
.tadec1 p{
    width: 90%; color:#666;
    margin: 10px auto;
    line-height: 32px;
}
.news-whole-list li {
	height: 45px;
	line-height: 45px;
	overflow: hidden;
	border-bottom: #e7e7e7 solid 1px;
}
.news-whole-list-l {
	width: 70%;
	float: left;
	background: url(../images/icon3.png) 0 15px no-repeat;
	padding-left: 25px;
	font-size: 14px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}
.news-whole-list-l:hover {
	color: #074e9e;
}
.news-date {
	float: right;
	width:20%;
	text-align: center;
	color: #666666;
}
.Duty {
	width: 88%;
	margin: 10px auto;
	font-size: 14px;
}
.Duty li {
	line-height: 35px;
	height: 35px;
	border-bottom: #efefef solid 1px;
	padding-left: 10px;
}

.tabAa{width:100%; overflow:hidden; margin-bottom:10px;}
.tabAa tr td{width:33.3333%; text-align:center; font-size:14px; color:#333;}
.tabAa tr td input,.tabAa tr td select{border:1px solid #ccc;}

.tabBb{width:100%; overflow:hidden; margin-bottom:10px;}
.tabBb tr td{text-align:center; font-size:14px; color:#333; line-height:26px;}
.tabBb tr td input,.tabBb tr td select{border:none; width:96%; line-height:26px; height:26px; padding:0 2%;}

.botTabc{width:100%; overflow:hidden; text-align:center;}


.tabImg_box{ width:270px; height:180px; overflow:hidden; position:relative; margin-top:15px;}
.tabImg_box .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.tabImg_box .hd ul{ overflow:hidden; zoom:1; float:left;  }
.tabImg_box .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.tabImg_box .hd ul li.on{ background:#074e9e; color:#fff; }
.tabImg_box .bd{ position:relative; height:100%; z-index:0;   }
.tabImg_box .bd li{ zoom:1; vertical-align:middle; }
.tabImg_box .bd img{ width:270px; height:180px; display:block;}

.pop-wapper{position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 400px;height: auto;background-color: transparent;z-index: 99999;}
.pop-redClose{width: 100%;text-align: right;}
.pop-redClose img{width: 25px;height: 25px;opacity: .6;position: relative;right: -35px;}
.pop-content{width: 100%;height: auto;text-align: center;}
.pop-content img{width: 100%;}
